/.idea/
/birth/1980-1989
/birth/1990+
/birth/_1979
/birth/birthModel
/birth/birthPredict
/birth/birthTest.p
/birth/birthVector
/birth/outBirth
/birth/weiboBirth.p
/birth/wiki_chs_pyvec
/gender/female
/gender/male
/gender/genderModel
/gender/genderPredict
/gender/genderTest.p
/gender/genderVector
/gender/outGender
/gender/weiboGender.p
/gender/wiki_chs_pyvec
/location/abroad
/location/centralChina
/location/eastChina
/location/northChina
/location/northeast
/location/northwest
/location/southChina
/location/southwest
/location/locationModel
/location/locationPredict
/location/locationTest.p
/location/locationVector
/location/outLocation
/location/weiboLocation.p
/location/wiki_chs_pyvec
*.json
*.csv
*.txt